<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>削除画面</title>
</head>
<body>
<h1>書籍削除画面</h1>
    <h2>削除したい書籍の検索はこちら</h2>
    <form role="form" action="/book-delete-search" th:action="@{/book-delete-search}" method="post">
        <div>
            <h3>著者</h3><input type="text" id="authorDeleteForm" name="authorDeleteForm"/>
        </div>
        <div>
            <h3>書籍名</h3><input type="text" id="bookTitleDeleteForm" name="bookTitleDeleteForm"/>
        </div>
        <div>
            <h3>発行元</h3><input type="text" id="publisherDeleteForm" name="publisherDeleteForm"/>
        </div>
        <button type="submit">検索</button>
    </form>

    <h2>削除フォーム</h2>
<h1 th:text="${message}"></h1>
    <form role="form" action="/book-delete" th:action="@{/book-delete}" method="post">
        <div>
            <h3>書籍管理番号</h3><input type="number" id="bookManagementNumberForm" name="bookManagementNumberForm"/>
        </div>
        <button type="submit">削除</button>
    </form>

    <h2><a href="index.html" th:href="@{/index}">トップページへ戻る</a></h2>

    <h2>削除したい書籍の検索結果</h2>
    <table class="delete" border="1">
        <thead>
        <tr>
            <th>書籍管理番号</th>
            <th>著者</th>
            <th>書籍名</th>
            <th>発行元</th>
        </tr>
        </thead>
        <tr th:each="BookEntity : ${bookEntityList}" th:object="${BookEntity}">
            <td th:text="*{bookManagementNumber.value}"></td>
            <td th:text="*{author.value}"></td>
            <td th:text="*{bookTitle.value}"></td>
            <td th:text="*{publisher.value}"></td>
        </tr>
    </table>
</body>
</html>