<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Top Page</title>
</head>
<body>
    <h1 th:text="${message}"></h1>
    <form role="form" action="/book-entry" th:action="@{/book-entry}" method="get">
        <div>
            <h2>著者</h2>
            <input type="text" id="authorForm" name="authorForm"/>
        </div>
        <div>
            <h2>書籍名</h2>
            <input type="text" id="bookTitleForm" name="bookTitleForm"/>
        </div>
        <div>
            <h2>ISBN 国際標準図書番号</h2>
            <input type="text" id="isbnForm" name="isbnForm"/>
        </div>
        <button type="submit">登録</button>
    </form>
</body>
</html>